
@use 'bulma';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior:none;
  touch-action: manipulation;
  width: 100%;
}
hr {
  padding: 0;
  margin: 0;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}
.sn.navbar-item {
  display: flex;
}

.sn.navbar,
.sn.navbar-menu,
.sn.navbar-start,
.sn.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.sn.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.sn.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.sn.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}
.blur {
  background-blend-mode: darken;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}
.fixed-bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Ensure it's above other content */
}